.navbar {
    background-color: #c1bc12;
    min-width: 200px;
    position: fixed;
    overflow: auto;
    top: 0px;
  }
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #555;
  }
  .nav-link {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid #555;
  }
  .nav-link a {
    color: black;
    display: block-inline;
    text-decoration: none;
  }
  .nav-link a.active {
    background-color: #30b133;
  }
  #main-doc {
    background-color: #c1bc12;
    margin-left: 210px;
    padding: 20px;
  }
  section {
    margin: 15px;
  }
  .main-section ul {
    margin-bottom: 5px;
  }